.big {
  height: 700px;
}

.small {
  height: 400px;
}

.inner {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.header {
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}
