.outer {
  height: 700px;
  background-image: url(./img/1-2.jpeg);
  background-size: cover;
}

.inner {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.header {
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}
