.personOuter {
  text-align: center;
}

.personPaper {
  width: 200px;
  padding: 20px;
  margin: auto;
}

.img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.header {
  text-align: center;
}

.outer {
  background-color: #673ab7;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.item {
    text-align: center;
    padding: 2em;
    max-width: 250px;
    margin: auto;
}

.icons {
    font-size: 20px;
}
