.outer {
  height: 700px;
  background-image: url(./img/1.jpeg);
  background-size: cover;
}

.inner {
  background-color: black;
  max-width: 499px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.fullHeight {
  height: 100%;
}

.hero {
  text-align: center;
}

.image {
  height: 600px;
  background-image: url(http://placehold.it/600x800);
  background-size: cover;
  overflow: hidden;
}
