.outer {
    background-color: #363839;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
}

.logo {
    height: 36px;
    margin-bottom: 6px;
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.icon {
    padding-right: 5px;
}

.contactButton {
    margin-bottom: 10px;
    width: 100%;
}

.vision {
    margin-bottom: 26px;
}

.gridItem {
    margin-bottom: 30px;
}