.navButton {
  margin-left: 0px !important;
  margin-right: 0px !important;
  color: white !important;
}

.logo {
  height: 36px;
}

.contactButton {
  margin-left: 15px;
}

.appBar {
  background-color: transparent !important;
  box-shadow: unset !important;
}
